@page "/fetchdata"
@using ZAI.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Adresy</h1>

@if (addresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ZipCode</th>
                <th>Address</th>
                <th>City</th>
                <th>Province</th>
                <th>District</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in addresses)
            {
                <tr>
                    <td>@address.ZipCode</td>
                    <td>@address.Address</td>
                    <td>@address.City</td>
                    <td>@address.Province</td>
                    <td>@address.District</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private ICollection<AddressDTO>? addresses;

    protected override async Task OnInitializedAsync()
    {
        addresses = await Http.GetFromJsonAsync<ICollection<AddressDTO>>("api/address/getall");
    }
}
